{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<div style="color: #0e1738;" class="fore overlay_foreground pkmpi" id="pkmpi_sub_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba" >PKM PI</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpi' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PI Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Thu, Sept 23 2021 <br>08:30 WIB – 18:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpi" id="pkmpi_sub_open_1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PI</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpi' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PI Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Thu, Sept 23 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpi" id="pkmpi_sub_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PI</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpi' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PI Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Thu, Oct 14 2021 <br>23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpi" id="pkmpi_video_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PI</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Video Upload Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpi' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PI Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Mon, Oct 04 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Upload Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpi" id="pkmpi_video_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PI</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Video Upload Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpi' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PI Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Sun, Oct 24 2021 <br>23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Upload Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpi" id="pkmpi_proposal_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PI</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Proposal Grading Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpi' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PI Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Mon, Oct 18 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
 
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpi" id="pkmpi_proposal_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PI</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Proposal Grading Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpi' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PI Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Sun, Nov 14 2021 <br>23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>

                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpi" id="pkmpi_presentation">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PI</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Online Presentation</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpi' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PI Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Fri, Nov 05 2021 <br>08:00 WIB - 17:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://youtu.be/bfcEosRC3SY" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">
                <h1 class="versus"><b>	Daffaldo Suryoputra	</b></h1>
                <h2 class="fakultas"><b>1906397153	</b> FKM </h2>
                <h1 class="versus"><b>	Firda Azizah Ahmad	</b></h1>
                <h2 class="fakultas"><b>1906350446	</b> FKM </h2>
                <h1 class="versus"><b>	Nur Indah Iriana	</b></h1>
                <h2 class="fakultas"><b>1906398074	</b> FKM </h2>
                <h1 class="versus"><b>	Tria Rahmawati	</b></h1>
                <h2 class="fakultas"><b>1906294880	</b> FKM </h2>

                <h1 class="versus"><b>	Gaza Adissa Rachma	</b></h1>
                <h2 class="fakultas"><b>2006569793	</b> FMIPA </h2>
                <h1 class="versus"><b>	Siti Sathifah Illahi	</b></h1>
                <h2 class="fakultas"><b>2006572806	</b> FMIPA </h2>
                <h1 class="versus"><b>	Syahrani Nur Anisa Irfiyanti	</b></h1>
                <h2 class="fakultas"><b>2006484886	</b> FMIPA </h2>

                <h1 class="versus"><b>	M. Hafizh Ghifari Azizi	</b></h1>
                <h2 class="fakultas"><b>1906387051	</b> FEB </h2>
                <h1 class="versus"><b>	M. Tsaqiff Azfaro	</b></h1>
                <h2 class="fakultas"><b>1906387663	</b> FEB </h2>
                <h1 class="versus"><b>	Fethin Damayanti	</b></h1>
                <h2 class="fakultas"><b>1906389031	</b> FEB </h2>

                <h1 class="versus"><b>	Afif Wardana	</b></h1>
                <h2 class="fakultas"><b>2006575070	</b> FT </h2>
                <h1 class="versus"><b>	Mohammad Rayhan Ramadano	</b></h1>
                <h2 class="fakultas"><b>2006575240	</b> FT </h2>
                <h1 class="versus"><b>	Ilham Arya Satya	</b></h1>
                <h2 class="fakultas"><b>2006575120	</b> FT </h2>
                <h1 class="versus"><b>	Bintang Knight	</b></h1>
                <h2 class="fakultas"><b>2006575266	</b> FT </h2>

                <h1 class="versus"><b>	Alifya Ananda Khairany	</b></h1>
                <h2 class="fakultas"><b>1906384226	</b> FT FASILKOM </h2>
                <h1 class="versus"><b>	Akbar Attallah	</b></h1>
                <h2 class="fakultas"><b>1906354444	</b> FT FASILKOM </h2>
                <h1 class="versus"><b>	Muhammad Arkana Yudhistira	</b></h1>
                <h2 class="fakultas"><b>1906354614	</b> FT FASILKOM </h2>
                <h1 class="versus"><b>	Najwa Lathifah Ulima	</b></h1>
                <h2 class="fakultas"><b>1906398925	</b> FT FASILKOM </h2>
                <h1 class="versus"><b>	Endriyani Rahayu	</b></h1>
                <h2 class="fakultas"><b>1906298866	</b> FT FASILKOM </h2>

                <h1 class="versus"><b>	Farhanah Aleyda Giri	</b></h1>
                <h2 class="fakultas"><b>1906369080	</b> FISIP </h2>
                <h1 class="versus"><b>	Azka Nurul	</b></h1>
                <h2 class="fakultas"><b>1906299244	</b> FISIP </h2>
                <h1 class="versus"><b>	Mudhya Razanne Tiara	</b></h1>
                <h2 class="fakultas"><b>1906299313	</b> FISIP </h2>

            </div>
        </div>
    </div>
</div>