{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<div style="color: #0e1738;" class="fore overlay_foreground pkmpm" id="pkmpm_sub_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PM</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpm' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PM Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Thu, Sept 23 2021 <br>08:30 WIB – 18:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpm" id="pkmpm_sub_open_1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PM</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpm' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PM Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Thu, Sept 23 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpm" id="pkmpm_sub_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PM</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Submission Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpm' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PM Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Thu, Oct 14 2021 <br>23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Submit Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpm" id="pkmpm_video_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PM</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Video Upload Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpm' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PM Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Mon, Oct 04 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Upload Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpm" id="pkmpm_video_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PM</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Video Upload Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpm' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PM Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Sun, Oct 24 2021 <br>23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Upload Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpm" id="pkmpm_proposal_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PM</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Proposal Grading Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpm' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PM Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Mon, Oct 18 2021 <br>00:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>

                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpm" id="pkmpm_proposal_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PM</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Proposal Grading Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpm' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PM Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Sun, Nov 14 2021 <br>23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>

                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground pkmpm" id="pkmpm_presentation">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">PKM PM</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Online Presentation</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'pkmpm' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All PKM PM Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Wed, Nov 03 2021 <br>08:00 WIB - 17:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/LivePKMPMOIMUI2021" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

                 <h1 class="versus"><b>	Nabilah Huwaida	</b></h1> <h2 class="fakultas"><b>1906292484	</b> FKM </h2>
                 <h1 class="versus"><b> Icha Tiara Devi Febrianti	</b></h1> <h2 class="fakultas"><b>1906350300	</b> FKM </h2>
                 <h1 class="versus"><b> Nurfadilah. M. Rajab	</b></h1> <h2 class="fakultas"><b>1906292534	</b> FKM </h2>
                 <h1 class="versus"><b> Syifa Kumala	</b></h1> <h2 class="fakultas"><b>2006471416	</b> FKM </h2>

                <h1 class="versus"><b>	Hanifah Aulia Alif	</b></h1> <h2 class="fakultas"><b>2006533036	</b> FIA </h2>
                <h1 class="versus"><b>	Zahra Fani Robyanti	</b></h1> <h2 class="fakultas"><b>1906405634	</b> FIA </h2>
                <h1 class="versus"><b>	Maria Rizka Caesari	</b></h1> <h2 class="fakultas"><b>2006534726	</b> FIA </h2>

                <h1 class="versus"><b>	Velma Widhi Adriyani	</b></h1> <h2 class="fakultas"><b>2006600923	</b> Vokasi </h2>
                <h1 class="versus"><b>	Aisyah Muftian Mursyid	</b></h1> <h2 class="fakultas"><b>2006477760	</b> Vokasi </h2>
                <h1 class="versus"><b>	Rachel Pinondang Priscila Hutauruk	</b></h1> <h2 class="fakultas"><b>2006600993	</b> Vokasi </h2>

                <h1 class="versus"><b>	Adhenisa Ratna Augustin	</b></h1> <h2 class="fakultas"><b>2006571614	</b> FMIPA</h2>
                <h1 class="versus"><b>	Fadella Hijjah Alhawa	</b></h1> <h2 class="fakultas"><b>2006571596	</b> FMIPA</h2>
                <h1 class="versus"><b>	Hanna Michella	</b></h1> <h2 class="fakultas"><b>2006471611	</b> FMIPA</h2>

                <h1 class="versus"><b>	Putri Amadea Gunawan	</b></h1> <h2 class="fakultas"><b>2006567131	</b> FK</h2>
                <h1 class="versus"><b>	Nadzira Zada	</b></h1> <h2 class="fakultas"><b>2006567005	</b> FK</h2>
                <h1 class="versus"><b>	Theresia Feline Husen	</b></h1> <h2 class="fakultas"><b>2006567112	</b> FK</h2>
                <h1 class="versus"><b>	Emanuel Verrell Didy	</b></h1> <h2 class="fakultas"><b>2006567056	</b> FK</h2>
                <h1 class="versus"><b>	Owen Paruhum Simanjuntak	</b></h1> <h2 class="fakultas"><b>2006567043	</b> FK</h2>

                <h1 class="versus"><b>	Zeta Zafirah Adam	</b></h1> <h2 class="fakultas"><b>2006519832	</b> FEB </h2>
                <h1 class="versus"><b>	Viona Avinda Zahran	</b></h1> <h2 class="fakultas"><b>2006524611	</b> FEB </h2>
                <h1 class="versus"><b>	Nareesha Syaika Arwanovka	</b></h1> <h2 class="fakultas"><b>2006533616	</b> FEB </h2>
                <h1 class="versus"><b>	Admiral Athallah Darmawan	</b></h1> <h2 class="fakultas"><b>2006536750	</b> FEB </h2>
                <h1 class="versus"><b>	Agam Anggaraksa	</b></h1> <h2 class="fakultas"><b>2006583614	</b> FEB </h2>

                <h1 class="versus"><b>	Miracle Banda	</b></h1> <h2 class="fakultas"><b>2006465994	</b> FIK </h2>
                <h1 class="versus"><b>	Halya Hanuna Kirana	</b></h1> <h2 class="fakultas"><b>2006465432	</b> FIK </h2>
                <h1 class="versus"><b>	Ratna Kusuma Dewi	</b></h1> <h2 class="fakultas"><b>2006598143	</b> FIK </h2>
                <h1 class="versus"><b>	Firasti Wahyu Saputri	</b></h1> <h2 class="fakultas"><b>2006524933	</b> FIK </h2>

                <h1 class="versus"><b>	Insan Sekar Kinanti	</b></h1> <h2 class="fakultas"><b>1906300492	</b> FT </h2>
                <h1 class="versus"><b>	Anindita Ramaputri Prakoso	</b></h1> <h2 class="fakultas"><b>1906300403	</b> FT </h2>
                <h1 class="versus"><b>	Juliandri	</b></h1> <h2 class="fakultas"><b>1906355301	</b> FT </h2>
                <h1 class="versus"><b>	Mudhita Putri	</b></h1> <h2 class="fakultas"><b>1906355131	</b> FT </h2>
                <h1 class="versus"><b>	Yohanes Raymond Lawang	</b></h1> <h2 class="fakultas"><b>2006535924	</b> FT </h2>

                <h1 class="versus"><b>	Rizky Ayu Ardani	</b></h1> <h2 class="fakultas"><b>1906300605	</b> FT FASILKOM </h2>
                <h1 class="versus"><b>	Muchlisah Lusiambali	</b></h1> <h2 class="fakultas"><b>1906306533	</b> FT FASILKOM </h2>
                <h1 class="versus"><b> Fiorentine Phillips	</b></h1> <h2 class="fakultas"><b>1906298916	</b> FT FASILKOM </h2>
                <h1 class="versus"><b> Puspa Apriliana Widodo	</b></h1> <h2 class="fakultas"><b>1906383450	</b> FT FASILKOM </h2>
                <h1 class="versus"><b> Amelia Azzahra Berlianty	</b></h1> <h2 class="fakultas"><b>1906357534	</b> FT FASILKOM </h2>

                <h1 class="versus"><b>	Muhamad Aria Dika Brajamusti Satryo Martasuanda	</b></h1> <h2 class="fakultas"><b>1906386225	</b> FH </h2>
                <h1 class="versus"><b>	Muhammad Aldy Saputra	</b></h1> <h2 class="fakultas"><b>2006580631	</b> FH </h2>
                <h1 class="versus"><b>	Diandra Paramita Anggraini	</b></h1> <h2 class="fakultas"><b>2106650600	</b> FH </h2>

                <h1 class="versus"><b>	Berliany Putri	</b></h1> <h2 class="fakultas"><b>1906391534	</b> FIB </h2>
                <h1 class="versus"><b>	Tiara Puspita Sari	</b></h1> <h2 class="fakultas"><b>1906298462	</b> FIB </h2>
                <h1 class="versus"><b>	Popi Tri Tamalia Putri	</b></h1> <h2 class="fakultas"><b>1906368626	</b> FIB </h2>
                <h1 class="versus"><b>	Anne Wiratma	</b></h1> <h2 class="fakultas"><b>2006588501	</b> FIB </h2>
                <h1 class="versus"><b>	Dhilla Fadiyahsari	</b></h1> <h2 class="fakultas"><b>2006588621	</b> FIB </h2>

                <h1 class="versus"><b>	Ashilah Ghani	</b></h1> <h2 class="fakultas"><b>2106745742	</b> FPsi </h2>
                <h1 class="versus"><b>	Asysifa Hafidha Nurlatifah	</b></h1> <h2 class="fakultas"><b>2106635120	</b> FPsi </h2>
                <h1 class="versus"><b>	Firna Syahran Aryansyah	</b></h1> <h2 class="fakultas"><b>2106631753	</b> FPsi </h2>
                <h1 class="versus"><b>	Indira Putri Sartono	</b></h1> <h2 class="fakultas"><b>2106636861	</b> FPsi </h2>
                <h1 class="versus"><b>	Jesselyn Natalia Gunawan	</b></h1> <h2 class="fakultas"><b>2106636211	</b> FPsi </h2>

                <h1 class="versus"><b>	Soni Maulana Yusup	</b></h1> <h2 class="fakultas"><b>2006524284	</b> FISIP </h2>
                <h1 class="versus"><b>	Natasya Azari Satria	</b></h1> <h2 class="fakultas"><b>2106748454	</b> FISIP </h2>
                <h1 class="versus"><b>	Melani Lutfiana	</b></h1> <h2 class="fakultas"><b>2006592871	</b> FISIP </h2>
                <h1 class="versus"><b>	Mukhlishul Amal Fasha	</b></h1> <h2 class="fakultas"><b>2106717096	</b> FISIP </h2>
                <h1 class="versus"><b>	Syahirah Khairunnisa	</b></h1> <h2 class="fakultas"><b>2106746575	</b> FISIP </h2>

            </div>
        </div>
    </div>
</div>