{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<div class="fore overlay_foreground daftar_fore" id="upload_foreground_berkas" >
    <h2 style="margin-left: 15px;color: #0e1738;">Submit Berkas</h2>
    <div class="container">
        <div class="row">
            <div class="col-md" style = "margin-bottom: 30px;">
                <a href="https://bit.ly/PengumpulanEsaiOIMUI2021">
                    <div style="min-height: 120px;" class="compe essay">
                        <p class="bold compe_title2" style="color:white;">ESSAY</p>
                    </div>
                </a>
            </div>
            <div class="col-md" style = "margin-bottom: 30px;">
                <a href="https://bit.ly/PENGUMPULANPKMOIMUI2021">
                    <div style="min-height: 120px;" class="compe pkm">
                        <p class="bold compe_title2" style="color:white;">PKM</p>
                    </div>
                </a>
            </div>
            <div class="col-md" style = "margin-bottom: 30px;">
                <a href="https://bit.ly/PengumpulanInfografisOIM">
                    <div style="min-height: 120px;" class="compe poster">
                        <p class="bold compe_title2" style="color:white;">POSTER</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="overlay" onclick="off()">
</div>