{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<div style=" width: 600px;" class="fore overlay_foreground" id="overlay_foreground">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">(namalomba)</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >(deskripsi)</p>
                <a class = "reg_link" href="" id="overlay_viewnamalomba" class="loading">(overlay_namalomba)</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu">(tanggal) <br>(waktu)</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">(tempat)</p>
                    <div style="width: 5px"></div>
                    <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a>
                </div>
                <div style="height: 20px;"></div>
                <a href="" class="mybutton blue" id="overlay_linklomba">(Link)</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">
                <h1 class="versus"><b>(partisipan)</b></h1>
                <h2 class="fakultas">(fakultas)</h2>
            </div>
        </div>
    </div>
</div>
