{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<div class="fore overlay_foreground daftar_fore" id="upload_foreground_daftar">
    <h2 style="margin-left: 15px; color: #0e1738; text-align: center;">Booklets and Format</h2>
   <div class="container">
        <div class="row">
            <div class="col-md" style="margin-bottom: 30px;">
                <a href="https://drive.google.com/drive/folders/13MKl3FF1hcEsjcGJr2U2ci7m26meOCRg">
                    <div style="min-height: 120px; background-position: bottom right;" class="compe">
                        <p class="bold compe_title1" style="font-size:25px;color:white;">NON-PKM</p>
                    </div>
                </a>
            </div> 
            <div class="col-md" style="margin-bottom: 30px;">
                <a href="https://drive.google.com/drive/folders/19xa1XpWQGa-gmOD1IlDvsvG3qN7OcKxb">
                    <div style="min-height: 120px; background-position: bottom right;" class="compe">
                        <p class="bold compe_title1" style="font-size:25px;color:white;">PKM</p>
                    </div>
                </a>
            </div>
            <div class="col-md" style="margin-bottom: 30px;">
                <a href="https://drive.google.com/drive/folders/1EQStC2IvsUvJ_XBnpSvgjDbTk35eonue">
                    <div style="min-height: 120px; background-position: bottom right;" class="compe">
                        <p class="bold compe_title1" style="font-size:25px;color:white;">FORMAT</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="overlay" onclick="off()"></div>