{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
<div style="color: #0e1738;" class="fore overlay_foreground debat" id="debat_pre_ind">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Debat</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Preliminary (Indonesia)</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'debat' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Debat Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Sat, Nov 06 2021 <br>08:30 WIB – 18:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground debat" id="debat_pre_ind_1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Debat</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Preliminary (Indonesia)</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'debat' %}" id="overlay_viewnamalomba" class="loading"  style="color:#af43be">View All Debat Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Sat, Nov 06 2021 <br>08:30 WIB – 18:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground debat" id="debat_pre_ing">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Debat</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Preliminary (English)</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'debat' %}" id="overlay_viewnamalomba" class="loading"  style="color:#af43be">View All Debat Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Sat, Nov 06 2021 <br>08:30 WIB – 18:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground debat" id="debat_semi_ind">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Debat</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Semifinal (Indonesia)</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'debat' %}" id="overlay_viewnamalomba" class="loading"  style="color:#af43be">View All Debat Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Mon, Nov 08 2021 <br>18:30 WIB – 22:10 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground debat" id="debat_semi_ing">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Debat</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Semifinal (English)</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'debat' %}" id="overlay_viewnamalomba" class="loading"  style="color:#af43be">View All Debat Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Mon, Nov 08 2021 <br>18:30 WIB – 22:10 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground debat" id="debat_fin_ind">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Debat</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Final (Indonesia)</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'debat' %}" id="overlay_viewnamalomba" class="loading"  style="color:#af43be">View All Debat Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Tue, Nov 09 2021 <br>18:30 WIB – 22:10 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground debat" id="debat_fin_ing">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Debat</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Final (English)</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'debat' %}" id="overlay_viewnamalomba" class="loading"  style="color:#af43be">View All Debat Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu"> Tue, Nov 09 2021 <br>18:30 WIB – 22:10 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>
