{% load static %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">

<div style="color: #0e1738;" class="fore overlay_foreground quiz" id="quiz_sim_reg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Quiz</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Simulation Registration</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'quiz' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Quiz Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu">  Wed, Oct 20 2021 <br>00:00 WIB – 23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <!-- <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Submit Now</a> -->
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground quiz" id="quiz_sim_reg_1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Quiz</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Simulation Registration</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'quiz' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Quiz Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu">  Wed, Oct 20 2021 <br>00:00 WIB – 23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <!-- <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Submit Now</a> -->
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground quiz" id="quiz_reg_open">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Quiz</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Quiz Registration Open</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'quiz' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Quiz Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu">  Sat, Oct 23 2021 <br>00:00 WIB </p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <!-- <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Submit Now</a> -->
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground quiz" id="quiz_sim_1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Quiz</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Quiz Simulation 1</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'quiz' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Quiz Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu">  Sat, Oct 23 2021 <br>09:00 WIB - 12:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">M-Teams</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <!-- <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Watch Now</a> -->
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground quiz" id="quiz_sim_2">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Quiz</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Quiz Simulation 2</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'quiz' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Quiz Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu">  Sat, Oct 23 2021 <br>13:00 WIB - 16:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">M-Teams</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <!-- <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Watch Now</a> -->
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground quiz" id="quiz_reg_close">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Quiz</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Quiz Registration Closed</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'quiz' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Quiz Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu">  Mon, Oct 25 2021 <br>20:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <!-- <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Submit Now</a> -->
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground quiz" id="quiz_yel_sub">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Quiz</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Yel-Yel Quiz Submission</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'quiz' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Quiz Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu">  Fri, Oct 29 2021 <br>00:00 WIB – 23:59 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Website</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <!-- <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Submit Now</a> -->
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground quiz" id="quiz_pre_1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Quiz</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Quiz Preliminary 1</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'quiz' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Quiz Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu">  Wed, Nov 03 2021 <br>13:00 WIB – 18:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://bit.ly/LiveQuiz1OIMUI2021" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

                <h1 class="versus"><b> Anastacia Harianto</b></h1>
                    <h2 class="fakultas"><b>2006526844</b> FF </h2>
                <h1 class="versus"><b> Azizah Rahastin Sinansari Dewi</b></h1>
                    <h2 class="fakultas"><b>2006466076</b> FF </h2>
                <h1 class="versus"><b>	Jazmina Nur Shobrina</b></h1>	
                    <h2 class="fakultas"><b>2006466271</b> FF </h2>
                <h1 class="versus"><b>	Dysaprita Nabila Putri</b></h1> 
                    <h2 class="fakultas"><b>2006486020</b> FF </h2>
                <h1 class="versus"><b>	Reiko Odelia Meredith</b></h1>	
                    <h2 class="fakultas"><b>2006520531</b> FF </h2>
                <h1 class="versus"><b>	Gizha Adhira Salsabilla</b></h1>
                    <h2 class="fakultas"><b>2006523911</b> FF </h2>
                <h1 class="versus"><b>	Khyla Maharani Putri</b></h1>	
                    <h2 class="fakultas"><b>2006482464</b> FF </h2>

                <h1 class="versus"><b>	Achmad Abdillah Pasha</b></h1>	
                    <h2 class="fakultas"><b>2006473011</b> FKM </h2>
                <h1 class="versus"><b>	Almira Nurul Qisti</b></h1>	
                    <h2 class="fakultas"><b>1906351146</b> FKM </h2>
                <h1 class="versus"><b>	Dinda Syalwa</b></h1>	
                    <h2 class="fakultas"><b>2006471100</b> FKM </h2>
                <h1 class="versus"><b>	Indah Sari Budi Ghafara</b></h1>	
                    <h2 class="fakultas"><b>1906351392</b> FKM </h2>
                <h1 class="versus"><b>	Shabrina Alfath Ramadhania</b></h1>	
                    <h2 class="fakultas"><b>1906350263</b> FKM </h2>
                <h1 class="versus"><b>	Shafira Agustina Rachmat</b></h1>	
                    <h2 class="fakultas"><b>1906351373</b> FKM </h2>
                <h1 class="versus"><b>	Shalman Hafizh Aulia</b></h1>	
                    <h2 class="fakultas"><b>2006595362</b> FKM </h2>

                <h1 class="versus"><b>	Maritza Andreanne Rafa Ayusha</b></h1>	
                    <h2 class="fakultas"><b>2006536201</b> FK </h2>
                <h1 class="versus"><b>	Ananda Karla Athiyyah</b></h1>	
                    <h2 class="fakultas"><b>2006467324</b> FK </h2>
                <h1 class="versus"><b>	Raniindra Khalisha Soediro Abidin</b></h1>	
                    <h2 class="fakultas"><b>2006467463</b> FK </h2>
                <h1 class="versus"><b>	Shafira Husna</b></h1>	
                    <h2 class="fakultas"><b>1906352760</b> FK </h2>
                <h1 class="versus"><b>	Hamzah Pratama Megantara</b></h1>	
                    <h2 class="fakultas"><b>1806226992</b> FK </h2>
                <h1 class="versus"><b>	Fathia Amalia Faizal</b></h1>	
                    <h2 class="fakultas"><b>1906352905</b> FK </h2>
                <h1 class="versus"><b>	Ayyada Khairunnisa</b></h1>	
                    <h2 class="fakultas"><b>2006523666</b> FK </h2>

                <h1 class="versus"><b>	Ferdinand Tori</b></h1>	
                    <h2 class="fakultas"><b>2006571293</b> FMIPA </h2>
                <h1 class="versus"><b>	Stella Eulia Andoko</b></h1>	
                    <h2 class="fakultas"><b>2106725526</b> FMIPA </h2>
                <h1 class="versus"><b>	Zahra Nurasma</b></h1>	
                    <h2 class="fakultas"><b>2006570044</b> FMIPA </h2>
                <h1 class="versus"><b>	Abimanyu Dharma Kamanungsan</b></h1>	
                    <h2 class="fakultas"><b>2106632586</b> FMIPA </h2>
                <h1 class="versus"><b>	Ahmad Mufid Dhiya'udin</b></h1>	
                    <h2 class="fakultas"><b>2106701375</b> FMIPA </h2>
                <h1 class="versus"><b>	Sharon Adrilia Tjandra</b></h1>	
                    <h2 class="fakultas"><b>2106724271</b> FMIPA </h2>
                <h1 class="versus"><b>	Talitha Athalia Bathary</b></h1>	
                    <h2 class="fakultas"><b>2006471031</b> FMIPA </h2>

                <h1 class="versus"><b>	Nismara Paramayoga</b></h1>	
                    <h2 class="fakultas"><b>1906360485</b> FEB </h2>
                <h1 class="versus"><b>	Rahadian Ahmad</b></h1>	
                    <h2 class="fakultas"><b>1906360560</b> FEB </h2>
                <h1 class="versus"><b>	Anugerah Pekerti Islamilenia</b></h1>	
                    <h2 class="fakultas"><b>1806213245</b> FEB </h2>
                <h1 class="versus"><b>	Tantra Tanjaya</b></h1>	
                    <h2 class="fakultas"><b>2006473705</b> FEB </h2>
                <h1 class="versus"><b>	Enike Maria Vianey</b></h1>	
                    <h2 class="fakultas"><b>1806143895</b> FEB  </h2>
                <h1 class="versus"><b>	Devan Hadrian</b></h1>	
                    <h2 class="fakultas"><b>2006466050</b> FEB </h2>
                <h1 class="versus"><b>	Chrisvareno Primadeo</b></h1>	
                    <h2 class="fakultas"><b>1906358442</b> FEB </h2>

                <h1 class="versus"><b>	Ariel Bima Putra A</b></h1>	
                    <h2 class="fakultas"><b>2006598515</b> FIK </h2>
                <h1 class="versus"><b>	Meiana Dhea Maulida</b></h1>	
                    <h2 class="fakultas"><b>2006598704</b> FIK </h2>
                <h1 class="versus"><b>	Shinta Azzahra Pujihan</b></h1>	
                    <h2 class="fakultas"><b>2106708646</b> FIK </h2>
                <h1 class="versus"><b>	Eka Dian Anggraeni</b></h1>	
                    <h2 class="fakultas"><b>2006598250</b> FIK </h2>
                <h1 class="versus"><b>	Kaamiliina Klarisha A. P.</b></h1>	
                    <h2 class="fakultas"><b>2006523810</b> FIK </h2>
                <h1 class="versus"><b>	Zakiya Ulya Fawnia</b></h1>	
                    <h2 class="fakultas"><b>2006598206</b> FIK </h2>
                <h1 class="versus"><b>	Siti Aisyah</b></h1>	
                    <h2 class="fakultas"><b>1906349910</b> FIK </h2>
                <h1 class="versus"><b>	Dewita Angelina</b></h1>	
                    <h2 class="fakultas"><b>2106708702</b> FIK </h2>
                <h1 class="versus"><b>	Haniatur Rifqi</b></h1>	
                    <h2 class="fakultas"><b>1906349785</b> FIK </h2>

                <h1 class="versus"><b>	Adib Haryo Sulistyo</b></h1>	
                    <h2 class="fakultas"><b>2006483012</b> FT </h2>
                <h1 class="versus"><b>	Adam Rafieariq</b></h1>	
                    <h2 class="fakultas"><b>1806202821</b> FT </h2>
                <h1 class="versus"><b>	Filipus Simare-Mare</b></h1>	
                    <h2 class="fakultas"><b>1906379724</b> FT </h2>
                <h1 class="versus"><b>	Muhammad Gavin Dirgantara</b></h1>	
                    <h2 class="fakultas"><b>2006536605</b> FT </h2>
                <h1 class="versus"><b>	Muhammad Fariz Ramdani</b></h1>	
                    <h2 class="fakultas"><b>1806148542</b> FT </h2>
                <h1 class="versus"><b>	Muhammad Dhafa</b></h1>	
                    <h2 class="fakultas"><b>1906301526</b> FT </h2>
                <h1 class="versus"><b>	Muhammad Ryzki Abror</b></h1>	
                    <h2 class="fakultas"><b>1906383570</b> FT </h2>
                <h1 class="versus"><b>	Amar Falah Riyanto</b></h1>	
                    <h2 class="fakultas"><b>2106732891</b> FT </h2>
                <h1 class="versus"><b>	Timotius Tanusondjaja</b></h1>	
                    <h2 class="fakultas"><b>1906356632</b> FT </h2>

                <h1 class="versus"><b>	Elda Nisya Auliainsani</b></h1>	
                    <h2 class="fakultas"><b>1906298090</b> FIB </h2>
                <h1 class="versus"><b>	Mutia Anggita Putri</b></h1>	
                    <h2 class="fakultas"><b>2006588180</b> FIB </h2>
                <h1 class="versus"><b>	Muhammad Umar Sadikin</b></h1>	
                    <h2 class="fakultas"><b>1906298153</b> FIB </h2>
                <h1 class="versus"><b>	Siti Inayatu Soliha</b></h1>	
                    <h2 class="fakultas"><b>1906298191</b> FIB </h2>
                <h1 class="versus"><b>	Nadia Salsabila Azzahwa</b></h1>	
                    <h2 class="fakultas"><b>1906305051</b> FIB </h2>
                <h1 class="versus"><b>	Aqil Yaafi Shidqii Tuasikal</b></h1>	
                    <h2 class="fakultas"><b>2006589851</b> FIB </h2>
                <h1 class="versus"><b>	Devanna Destira Darsana</b></h1>	
                    <h2 class="fakultas"><b>1906392934</b> FIB </h2>

                <h1 class="versus"><b>	Krendy Kristanto</b></h1> 	
                    <h2 class="fakultas"><b>2106754545</b> Vokasi </h2>
                <h1 class="versus"><b>	Davinka Pradneswari Rayyani</b></h1>	
                    <h2 class="fakultas"><b>1906313066</b> Vokasi </h2>
                <h1 class="versus"><b>	Dian Purnama Putri Utami</b></h1>	
                    <h2 class="fakultas"><b>1906311501</b> Vokasi </h2>
                <h1 class="versus"><b>	Sarah Azzahra Nanda Putri</b></h1>	
                    <h2 class="fakultas"><b>1906310000</b> Vokasi </h2>
                <h1 class="versus"><b>	Riska Ayuni</b></h1>	
                    <h2 class="fakultas"><b>2106756815</b> Vokasi </h2>
                <h1 class="versus"><b>	Shofiyah Izdihar Binauf</b></h1>	
                    <h2 class="fakultas"><b>2106757036</b> Vokasi </h2>
                <h1 class="versus"><b>	David Juanda Sebastian Pakpahan</b></h1>	
                    <h2 class="fakultas"><b>2106757162</b> Vokasi </h2>
                <h1 class="versus"><b>	Nararya Prima Baswara (cadangan)</b></h1>	
                    <h2 class="fakultas"><b>2106755094</b> Vokasi </h2>
                <h1 class="versus"><b>	Nurul Rayya Faridha (cadangan)</b></h1>	
                    <h2 class="fakultas"><b>2106754614</b> Vokasi </h2>

                <h1 class="versus"><b>	Muhammad Satrio Yodhatama</b></h1>	
                    <h2 class="fakultas"><b>2006528452</b> FISIP </h2>
                <h1 class="versus"><b>	Muhammad Risyad Sadzikri</b></h1>	
                    <h2 class="fakultas"><b>1906361336</b> FISIP </h2>
                <h1 class="versus"><b>	Jessycarania Jaxentia</b></h1>	
                    <h2 class="fakultas"><b>1906293442</b> FISIP </h2>
                <h1 class="versus"><b>	Muhammad Irfan Arsy</b></h1>	
                    <h2 class="fakultas"><b>2006488700</b> FISIP </h2>
                <h1 class="versus"><b>	Eric Taher</b></h1>	
                    <h2 class="fakultas"><b>1806222060</b> FISIP </h2>
                <h1 class="versus"><b>	Fitrina Nurkhalisha</b></h1> 	
                    <h2 class="fakultas"><b>2006532216</b> FISIP </h2>
                <h1 class="versus"><b>	Alifia Famita Nugroho</b></h1>	
                    <h2 class="fakultas"><b>1806225030</b> FISIP </h2>

                <h1 class="versus"><b>	Stanislaus Demokrasi Sandyawan</b></h1>	
                    <h2 class="fakultas"><b>1806139664</b> FH </h2>
                <h1 class="versus"><b>	Patricia Stephanie Verena Raya</b></h1>	
                    <h2 class="fakultas"><b>2006533635</b> FH </h2>
                <h1 class="versus"><b>	Melki Sedek Huang</b></h1>	
                    <h2 class="fakultas"><b>1906363000</b> FH </h2>
                <h1 class="versus"><b>	Stefany</b></h1> 
                    <h2 class="fakultas"><b>1906291683</b> FH </h2>
                <h1 class="versus"><b>	Madeleine Sebastian Effendy</b></h1>	
                    <h2 class="fakultas"><b>2006580202</b> FH </h2>
                <h1 class="versus"><b>	Poppy Lestari</b></h1>	
                    <h2 class="fakultas"><b>1906291481</b> FH </h2>
                <h1 class="versus"><b>	Metta Angela</b></h1>	
                    <h2 class="fakultas"><b>1906361834</b> FH </h2>
                <h1 class="versus"><b>	Muhammad Hilman Bagaskara</b></h1>	
                    <h2 class="fakultas"><b>1906317991</b> FH </h2>
                <h1 class="versus"><b>	Muhammad Rafliansah Aziz</b></h1>	
                    <h2 class="fakultas"><b>1906291361</b> FH </h2>

                <h1 class="versus"><b>	Irfan Kalam Tauhid</b></h1>	
                    <h2 class="fakultas"><b>2006568241</b> FKG </h2>
                <h1 class="versus"><b>	Faisha Atiina Maheswari</b></h1>	
                    <h2 class="fakultas"><b>2006488871</b> FKG </h2>
                <h1 class="versus"><b>	Rifaldo Febriansyah</b></h1>	
                    <h2 class="fakultas"><b>2006516742</b> FKG </h2>
                <h1 class="versus"><b>	Yasmin Lalitya Adani</b></h1>	
                    <h2 class="fakultas"><b>2006488171</b> FKG </h2>
                <h1 class="versus"><b>	Kanya Habibah Pramesti</b></h1>	
                    <h2 class="fakultas"><b>2106702636</b> FKG </h2>
                <h1 class="versus"><b>	Saskia Kirana Anjani</b></h1>	
                    <h2 class="fakultas"><b>2106707284</b> FKG </h2>
                <h1 class="versus"><b>	Namira Adelia</b></h1>	
                    <h2 class="fakultas"><b>2106631570</b> FKG </h2>

                <h1 class="versus"><b>	Renatta Adya Aurel Terra</b></h1>	
                    <h2 class="fakultas"><b>2106714270</b> FPsi </h2>
                <h1 class="versus"><b>	Endrinayla Rafa Amanda</b></h1>	
                    <h2 class="fakultas"><b>2106631450</b> FPsi </h2>
                <h1 class="versus"><b>	Muhammad Musa Mudrick</b></h1> 	
                    <h2 class="fakultas"><b>2106638255</b> FPsi </h2>
                <h1 class="versus"><b>	Yolanda Putri Chandra</b></h1>	
                    <h2 class="fakultas"><b>2106710423</b> FPsi </h2>
                <h1 class="versus"><b>	Muhammad Abrar Rafif</b></h1>	
                    <h2 class="fakultas"><b>2106744973</b> FPsi </h2>
                <h1 class="versus"><b>	Herlan Muhammad Rihwan</b></h1>	
                    <h2 class="fakultas"><b>2106745326</b> FPsi </h2>
                <h1 class="versus"><b>	Aliyya Luthfiani Nur Izzizti</b></h1>	
                    <h2 class="fakultas"><b>2106709756</b> FPsi </h2>
                <h1 class="versus"><b>	Jordy Susanto (Cadangan)</b></h1>	
                    <h2 class="fakultas"><b>2106745212</b> FPsi </h2>
                <h1 class="versus"><b>	Nazwa Mazaya Syailendra (Cadangan)</b></h1>	
                    <h2 class="fakultas"><b>2106710221</b> FPsi </h2>

                <h1 class="versus"><b>	Gregorius Adrian Iskandar</b></h1>	
                    <h2 class="fakultas"><b>1906360062</b> FIA </h2>
                <h1 class="versus"><b>	Juditha Danuvanya</b></h1>	
                    <h2 class="fakultas"><b>2006605281</b> FIA </h2>
                <h1 class="versus"><b>	Muh Imam Kastholani</b></h1>	
                    <h2 class="fakultas"><b>2106716686</b> FIA </h2>
                <h1 class="versus"><b>	Rachmadita Mutia Rardhy</b></h1>	
                    <h2 class="fakultas"><b>2106710064</b> FIA </h2>
                <h1 class="versus"><b>	Ray Abel Reshawna</b></h1>	
                    <h2 class="fakultas"><b>2106758152</b> FIA </h2>
                <h1 class="versus"><b>	Zaki Anshaari Hasibuan</b></h1> 	
                    <h2 class="fakultas"><b>2006605325</b> FIA </h2>
                <h1 class="versus"><b>	Ilham Khalid</b></h1>	
                    <h2 class="fakultas"><b>1906359911</b> FIA </h2>
                <h1 class="versus"><b>	Muhammad Irsyal Nadhifa Zahran</b></h1>	
                    <h2 class="fakultas"><b>1906308646</b> FIA </h2>
                <h1 class="versus"><b>	Salsabila Nidia</b></h1>	
                    <h2 class="fakultas"><b>1906303166</b> FIA </h2>

                <h1 class="versus"><b>	Adjie Djaka Permana</b></h1>	
                    <h2 class="fakultas"><b>2106702485</b> FASILKOM </h2>
                <h1 class="versus"><b>	Gibrano Fabien Derenz</b></h1>	
                    <h2 class="fakultas"><b>2106750622</b> FASILKOM </h2>
                <h1 class="versus"><b>	Hugo Sulaiman Setiawan</b></h1>	
                    <h2 class="fakultas"><b>2106707315</b> FASILKOM </h2>
                <h1 class="versus"><b>	Ihza Dafa Maulidan</b></h1>	
                    <h2 class="fakultas"><b>2106652726</b> FASILKOM </h2>
                <h1 class="versus"><b>	Maulana Bayu Risma Santoso Sari</b></h1>	
                    <h2 class="fakultas"><b>2106750401</b> FASILKOM </h2>
                <h1 class="versus"><b>	Michael Baptiswa Marully Pangaribuan</b></h1>	
                    <h2 class="fakultas"><b>2106752054</b> FASILKOM </h2>
                <h1 class="versus"><b>	Trias Ahmad Fairuz</b></h1>	
                    <h2 class="fakultas"><b>2106633645</b> FASILKOM </h2>

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground quiz" id="quiz_pre_2">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Quiz</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Quiz Preliminary 2</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'quiz' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Quiz Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu">  Thu, Nov 04 2021 <br>13:00 WIB – 18:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="https://youtu.be/4XA_wpOj21k" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>

<div style="color: #0e1738;" class="fore overlay_foreground quiz" id="quiz_final">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 nopadding overlay_left" style="margin-right: 10px;">
                <h1 id="overlay_namalomba">Quiz</h1>
                <p id="overlay_deskripsi" style="margin-bottom: 0px;" >Quiz Final</p>
                <a class = "reg_link" href="{% url 'homepage:timeline' 'quiz' %}" id="overlay_viewnamalomba" class="loading" style="color:#af43be">View All Quiz Events</a>
                <div style="height: 20px;"></div>
                <p class="bold" id="overlay_waktu">  Fri, Nov 12 2021 <br>13:00 WIB – 18:00 WIB</p>
                <div class="alamat">
                    <p class="namatempat" style="margin-bottom: 0px;" id="overlay_tempat">Youtube</p>
                    <div style="width: 5px"></div>
                    <!-- <a class = "reg_link" href="{% url 'homepage:pagenotavailable' %}" target="_blank" id="reg">View Registration Link</a> -->
                </div>
                <div style="height: 20px;"></div>
                <a href="{% url 'homepage:pagenotavailable' %}" class="mybutton purple" id="overlay_linklomba">Watch Now</a>
                <div style="height: 30px;"></div>
            </div>
            <div class="col-sm participant" id="overlay_partisipan">

            </div>
        </div>
    </div>
</div>