{% extends 'base.html' %}
<html lang="en">
{% load static %}


{% block title %}
PKM AI
{% endblock title %}

{% block content %}
{% include 'navbar.html' %}
{% include 'overlay_pkmai.html' %}

<div class="container header_timeline pkmai">
    <div class="row">
        <div class="col-md onlymobile" style="height: 150px;"></div>
        <div class="col-md">
            <h1 style="color: #0e1738;">PKM AI</h1>
            <p style="color: #0e1738; text-align: justify;">
                PKM-AI (Artikel Ilmiah) adalah cabang lomba PKM yang tujuan utamanya membantu 
                dan menyediakan media bagi mahasiswa Indonesia untuk membuat artikel ilmiah dari 
                hasil kegiatan akademik berkelompok yang telah dilakukan. Jika pada cabang lomba 
                PKM lainnya kelompok mahasiswa mengajukan proposal serta mempresentasikan idenya, 
                maka untuk PKM-AI kelompok mahasiswa cukup menyampaikan karya tulis dalam bentuk artikel ilmiah.
            </p>
        </div>
        <div class="col-md"></div>
    </div>
    <hr style="margin-top: 60px;">
</div>

<div class="container">
    <div class="small"></div>
    <div class="row justify-content-center">
        <a href="{% url 'homepage:timeline' 'all' %}" class="mybutton aqua" >View All Timelines</a>
    </div>	
    <div class="small"></div>
        <h2 style="color: #0e1738;">Sept. 26, 2022</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe pkmai" onclick="uploadon('pkmai_sub_open_1')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                        <p style="color: #ddd">Submission Open</p>
                        <div class="bottom_text">
                            <p style="color: #ddd">Website</p>
                        </div>
                    </div>
                </div>
        </div>
        <!-- <div style="height: 15px;"></div>
        <h2 style="color: #0e1738;">Oct. 04, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe pkmai" onclick="uploadon('pkmai_video_open')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                        <p style="color: #ddd">Video Upload Open</p>
                        <div class="bottom_text">
                            <p style="color: #ddd">Website</p>
                        </div>
                    </div>
                </div>
        </div>
        <div style="height: 15px;"></div>
        <h2 style="color: #0e1738;">Oct. 14, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe pkmai" onclick="uploadon('pkmai_sub_close')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                        <p style="color: #ddd">Submission Closed</p>
                        <div class="bottom_text">
                            <p style="color: #ddd">Website</p>
                        </div>
                    </div>
                </div>
        </div>
        <div style="height: 15px;"></div>
        <h2 style="color: #0e1738;">Oct. 18, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe pkmai" onclick="uploadon('pkmai_proposal_open')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                        <p style="color: #ddd">Proposal Grading Open</p>
                        <div class="bottom_text">
                            <p style="color: #ddd">Website</p>
                        </div>
                    </div>
                </div>
        </div>
        <div style="height: 15px;"></div>
        <h2 style="color: #0e1738;">Oct. 24, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe pkmai" onclick="uploadon('pkmai_video_close')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                        <p style="color: #ddd">Video Upload Closed</p>
                        <div class="bottom_text">
                            <p style="color: #ddd">Website</p>
                        </div>
                    </div>
                </div>
        </div>
        <div style="height: 15px;"></div>
        <h2 style="color: #0e1738;">Nov. 14, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe pkmai" onclick="uploadon('pkmai_proposal_close')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                        <p style="color: #ddd">Proposal Grading Close</p>
                        <div class="bottom_text">
                            <p style="color: #ddd">Website</p>
                        </div>
                    </div>
                </div>
        </div>
        <div style="height: 15px;"></div> -->
</div>
<div class="medium"></div>
{% include 'footer.html' %}

{% endblock %}