{% extends 'base.html' %}
<html lang="en">
{% load static %}


{% block title %}
Esai
{% endblock title %}

{% block content %}
{% include 'navbar.html' %}
{% include 'overlay_essay.html' %}

<div class="container header_timeline essay">
    <div class="row">
        <div class="col-md onlymobile" style="height: 150px;"></div>
        <div class="col-md">
            <h1 style="color: #0e1738;">Esai</h1>
            <p style="color: #0e1738;">
                Kompetisi Esai menjadi sarana mahasiswa untuk menunjukkan kemampuannya dalam menulis tulisan yang berisi 
                ide atau gagasan kreatif dengan berpola-pikir ilmiah.  Mahasiswa diharap agar dapat menemukan ide atau 
                gagasan kreatif yang dapat membantu negeri dan masyarakat dalam menyelesaikan permasalahan-permasalahan yang ada. 
                Kemampuan peserta dalam public speaking juga akan diuji  dalam presentasi berbentuk video dan pemahaman peserta 
                atas esai yang ditulis akan diuji dalam sesi tanya jawab dengan para juri.
            </p>
        </div>
        <div class="col-md"></div>
    </div>
    <hr style="margin-top: 60px;">
</div>

<div class="container">
    <div class="small"></div>
    <div class="row justify-content-center">
        <a href="{% url 'homepage:timeline' 'all' %}" class="mybutton purple">View All Timelines</a>
    </div>	
    <div class="small"></div>
        <h2 style="color: #0e1738;">Oct. 18, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe essay" onclick="uploadon('esai_sub_open_1')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                        <p style="color: #ddd">Submission Open</p>
                        <div class="bottom_text">
                            <p style="color: #ddd">Website</p>
                        </div>
                    </div>
                </div>
                <div class="col compe_col">
                    <div class="compe essay" onclick="uploadon('esai_vid_open')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                        <p style="color: #ddd">Video Upload Open</p>
                        <div class="bottom_text">
                            <p style="color: #ddd">Website</p>
                        </div>
                    </div>
                </div>
        </div>
        <div style="height: 15px;"></div>
        <h2 style="color: #0e1738;">Nov. 03, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe essay" onclick="uploadon('esai_sub_close')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">21:00 WIB</p>
                        <p style="color: #ddd">Submission Closed</p>
                        <div class="bottom_text">
                            <p style="color: #ddd">Website</p>
                        </div>
                    </div>
                </div>
                <div class="col compe_col">
                    <div class="compe essay" onclick="uploadon('esai_vid_close')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">21:00 WIB</p>
                        <p style="color: #ddd">Video Upload Closed</p>
                        <div class="bottom_text">
                            <p style="color: #ddd">Website</p>
                        </div>
                    </div>
                </div>
        </div>
        <div style="height: 15px;"></div>
        <h2 style="color: #0e1738;">Nov. 11, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe essay" onclick="uploadon('esai_quest')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">08:30 WIB – 15:00 WIB</p>
                        <p style="color: #ddd">Question Section</p>
                        <div class="bottom_text">
                            <p style="color: #ddd">Youtube</p>
                        </div>
                    </div>
                </div>
        </div>
        <div style="height: 15px;"></div>
</div>
<!-- Lmao just start putting my name everywhere -->
<div class="medium"></div>
{% include 'footer.html' %}

{% endblock %}