{% extends 'base.html' %}
<html lang="en">
{% load static %}


{% block title %}
PKM PM
{% endblock title %}

{% block content %}
{% include 'navbar.html' %}
{% include 'overlay_pkmpm.html' %}

<div class="container header_timeline pkmm">
    <div class="row">
        <div class="col-md onlymobile" style="height: 150px;"></div>
        <div class="col-md">
            <h1 style="color: #0e1738;">PKM PM</h1>
            <p style="color: #0e1738; text-align: justify;">
                PKM-PM (Pengabdian Masyarakat) adalah program kreativitas mahasiswa yang berorientasi
                non-profit dalam upaya membantu meningkatkan kesejahteraan mitra (masyarakat). 
                PKM-PM terbuka bagi semua bidang ilmu, karena teknologi secara luas dapat dimaknai
                sebagai cara untuk memadukan sumber daya dan metode edukasi guna menghasilkan 
                pemberdayaan yang dikehendaki, menyelesaikan masalah yang dihadapi mitra, dan memenuhi 
                kebutuhan atau untuk mencapai kesejahteraan yang diinginkan oleh mitra. Ilmu pengetahuan 
                dan teknologi yang diperbantukan tidak terbatas pada bidang eksakta semata, tetapi juga 
                bidang lain seperti sosial humaniora dan seni, kesehatan, ekonomi, hukum, agrokomplek. 
                Dengan demikian, kegiatan PKM-PM meliputi aspek pemberdayaan sumber daya manusia, ekonomi, 
                kesehatan, pendidikan, keamanan lingkungan, persiapan untuk wirausaha, pengembangan karya seni, 
                dan lain-lain.
            </p>
        </div>
        <div class="col-md"></div>
    </div>
    <hr style="margin-top: 60px;">
</div>

<div class="container">
    <div class="small"></div>
    <div class="row justify-content-center">
        <a href="{% url 'homepage:timeline' 'all' %}" class="mybutton aqua">View All Timelines</a>
    </div>	
    <div class="small"></div>
    <h2 style="color: #0e1738;">Sep. 26, 2022</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_sub_open_1')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Submission Open</p>
                    <div class="bottom_text">
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <!-- <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 04, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_video_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Video Upload Open</p>
                    <div class="bottom_text">
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 14, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_sub_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Submission Closed</p>
                    <div class="bottom_text">
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 18, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_proposal_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Proposal Grading Open</p>
                    <div class="bottom_text">
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 24, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_video_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Video Upload Closed</p>
                    <div class="bottom_text">
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 03, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_presentation')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">08:00 WIB - 17:00 WIB</p>
                    <p style="color: #ddd">Online Presentation</p>
                    <div class="bottom_text">
                        <p style="color: #ddd">Youtube</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 14, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_proposal_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Proposal Grading Close</p>
                    <div class="bottom_text">
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div> -->
</div>
<!-- Lmao just start putting my name everywhere -->
<div class="medium"></div>
{% include 'footer.html' %}

{% endblock %}