{% extends 'base.html' %}
<html lang="en">
{% load static %}


{% block title %}
Timeline
{% endblock title %}

{% block content %}
{% include 'navbar.html' %}
{% include 'overlay_debat.html' %}
{% include 'overlay_poster.html' %}
{% include 'overlay_essay.html' %}
{% include 'overlay_quiz.html' %}
{% include 'overlay_pkmai.html' %}
{% include 'overlay_pkmgfk.html' %}
{% include 'overlay_pkmgt.html' %}
{% include 'overlay_pkmk.html' %}
{% include 'overlay_pkmkc.html' %}
{% include 'overlay_pkmpi.html' %}
{% include 'overlay_pkmpm.html' %}
{% include 'overlay_pkmr.html' %}

<h1 class="header">Timeline</h1>

<div class="container">
    <div class="small"></div>
    <h2 style="color: #0e1738;">Sept. 23, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmai" onclick="uploadon('pkmai_sub_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Submission Open</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM AI</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmgfk" onclick="uploadon('pkmgfk_sub_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Submission Open</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM GFK</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmgt" onclick="uploadon('pkmgt_sub_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Submission Open</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM GT</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmk" onclick="uploadon('pkmk_sub_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Submission Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM K</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmkc" onclick="uploadon('pkmkc_sub_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Submission Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM KC</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_sub_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Submission Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PI</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_sub_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Submission Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PM</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmr" onclick="uploadon('pkmr_sub_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Submission Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM R</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
            
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 04, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmai" onclick="uploadon('pkmai_video_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Video Upload Open</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM AI</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmgfk" onclick="uploadon('pkmgfk_video_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Video Upload Open</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM GFK</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmgt" onclick="uploadon('pkmgt_video_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Video Upload Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM GT</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmk" onclick="uploadon('pkmk_video_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Video Upload Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM K</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmkc" onclick="uploadon('pkmkc_video_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Video Upload Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM KC</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_video_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Video Upload Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PI</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_video_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Video Upload Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PM</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmr" onclick="uploadon('pkmr_video_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Video Upload Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM R</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 11, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe debat" onclick="uploadon('poster_sub_open_1')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                        <p style="color: #ddd">Submission Open</p>
                        <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">Poster</p>
                            <p style="color: #ddd">Website</p>
                        </div>
                    </div>
                </div>
        </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 14, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmai" onclick="uploadon('pkmai_sub_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Submission Closed</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM AI</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmgfk" onclick="uploadon('pkmgfk_sub_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Submission Closed</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM GFK</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmgt" onclick="uploadon('pkmgt_sub_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Submission Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM GT</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmk" onclick="uploadon('pkmk_sub_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Submission Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM K</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmkc" onclick="uploadon('pkmkc_sub_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Submission Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM KC</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_sub_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Submission Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PI</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_sub_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Submission Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PM</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmr" onclick="uploadon('pkmr_sub_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Submission Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM R</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 18, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe essay" onclick="uploadon('esai_sub_open_1')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Submission Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">Esai</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe essay" onclick="uploadon('esai_vid_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Video Upload Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">Esai</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmai" onclick="uploadon('pkmai_proposal_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Proposal Grading Open</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM AI</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmgfk" onclick="uploadon('pkmgfk_proposal_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Proposal Grading Open</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM GFK</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmgt" onclick="uploadon('pkmgt_proposal_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Proposal Grading Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM GT</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmk" onclick="uploadon('pkmk_proposal_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Proposal Grading Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM K</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmkc" onclick="uploadon('pkmkc_proposal_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Proposal Grading Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM KC</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_proposal_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Proposal Grading Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PI</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_proposal_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Proposal Grading Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PM</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmr" onclick="uploadon('pkmr_proposal_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Proposal Grading Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM R</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 20, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe quiz" onclick="uploadon('quiz_sim_reg_1')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB – 23:59 WIB</p>
                        <p style="color: #ddd">Simulation Registration</p>
                        <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">Quiz</p>
                            <p style="color: #ddd">M-Teams</p>
                        </div>
                    </div>
                </div>
        </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 23, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe quiz" onclick="uploadon('quiz_sim_1')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">09:00 WIB - 12:00 WIB</p>
                        <p style="color: #ddd">Quiz Simulation 1</p>
                        <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">Quiz</p>
                            <p style="color: #ddd">M-Teams</p>
                        </div>
                    </div>
                </div>
                <div class="col compe_col">
                    <div class="compe quiz" onclick="uploadon('quiz_sim_2')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">13:00 WIB - 16:00 WIB</p>
                        <p style="color: #ddd">Quiz Simulation 2</p>
                        <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">Quiz</p>
                            <p style="color: #ddd">M-Teams</p>
                        </div>
                    </div>
                </div>
                <div class="col compe_col">
                    <div class="compe poster" onclick="uploadon('poster_sub_close')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">18:00 WIB</p>
                        <p style="color: #ddd">Submission Closed</p>
                        <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">Poster</p>
                            <p style="color: #ddd">Website</p>
                        </div>
                    </div>
                </div>
                <div class="col compe_col">
                    <div class="compe quiz" onclick="uploadon('quiz_reg_open')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                        <p style="color: #ddd">Quiz Registration Open</p>
                        <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">Quiz</p>
                            <p style="color: #ddd">M-Teams</p>
                        </div>
                    </div>
                </div>
        </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 24, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmai" onclick="uploadon('pkmai_video_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Video Upload Closed</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM AI</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmgfk" onclick="uploadon('pkmgfk_video_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Video Upload Closed</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM GFK</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmgt" onclick="uploadon('pkmgt_video_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Video Upload Closed</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM GT</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmk" onclick="uploadon('pkmk_video_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Video Upload Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM K</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmkc" onclick="uploadon('pkmkc_video_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Video Upload Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM KC</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_video_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Video Upload Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PI</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_video_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Video Upload Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PM</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmr" onclick="uploadon('pkmr_video_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Video Upload Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM R</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 25, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe quiz" onclick="uploadon('quiz_reg_close')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">20:00 WIB</p>
                        <p style="color: #ddd">Quiz Registration Closed</p>
                        <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">Quiz</p>
                            <p style="color: #ddd">M-Teams</p>
                        </div>
                    </div>
                </div>
        </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 29, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe quiz" onclick="uploadon('quiz_yel_sub')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB – 23:59 WIB</p>
                        <p style="color: #ddd">Yel-Yel Quiz Submission</p>
                        <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">Quiz</p>
                            <p style="color: #ddd">M-Teams</p>
                        </div>
                    </div>
                </div>
        </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 01, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmr" onclick="uploadon('pkmr_presentation')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">08:00 WIB - 17:00 WIB</p>
                    <p style="color: #ddd">Online Presentation</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM R</p>
                        <p style="color: #ddd">Youtube</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe poster" onclick="uploadon('poster_vote_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">20:00 WIB</p>
                    <p style="color: #ddd">Voting Open</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">Poster</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 02, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmgt" onclick="uploadon('pkmgt_presentation')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">08:00 WIB - 17:00 WIB</p>
                    <p style="color: #ddd">Online Presentation</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM GT</p>
                        <p style="color: #ddd">Youtube</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 03, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_presentation')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">08:00 WIB - 17:00 WIB</p>
                    <p style="color: #ddd">Online Presentation</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PM</p>
                        <p style="color: #ddd">Youtube</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe quiz" onclick="uploadon('quiz_pre_1')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">13:00 WIB – 18:00 WIB</p>
                    <p style="color: #ddd">Preliminary 1</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">Quiz</p>
                        <p style="color: #ddd">Youtube</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe essay" onclick="uploadon('esai_sub_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Submission Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">Esai</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe essay" onclick="uploadon('esai_vid_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Video Upload Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">Esai</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 04, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe quiz" onclick="uploadon('quiz_pre_2')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">13:00 WIB – 18:00 WIB</p>
                        <p style="color: #ddd">Preliminary 2</p>
                        <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">Quiz</p>
                            <p style="color: #ddd">Youtube</p>
                        </div>
                    </div>
                </div>
        </div>
        <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 05, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_presentation')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">08:00 WIB - 17:00 WIB</p>
                    <p style="color: #ddd">Online Presentation</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PI</p>
                        <p style="color: #ddd">Youtube</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 6, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe debat" onclick="uploadon('debat_pre_ind_1')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">08:30 WIB – 18:00 WIB</p>
                        <p style="color: #ddd">Preliminary (Indonesia)</p>
                        <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">Debat</p>
                            <p style="color: #ddd">Zoom</p>
                        </div>
                    </div>
                </div>
                <div class="col compe_col">
                    <div class="compe debat" onclick="uploadon('debat_pre_ing')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">08:30 WIB – 18:00 WIB</p>
                        <p style="color: #ddd">Preliminary (English)</p>
                        <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">Debat</p>
                            <p style="color: #ddd">Zoom</p>
                        </div>
                    </div>
                </div>
        </div>
        <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 08, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmgfk" onclick="uploadon('pkmgfk_presentation')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">08:00 WIB - 17:00 WIB</p>
                    <p style="color: #ddd">Online Presentation</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM GFK</p>
                        <p style="color: #ddd">Zoom</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe debat" onclick="uploadon('debat_semi_ind')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">18:30 WIB – 22:10 WIB</p>
                    <p style="color: #ddd">Semifinal (Indonesia)</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">Debat</p>
                        <p style="color: #ddd">Zoom</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe debat" onclick="uploadon('debat_semi_ing')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">18:30 WIB – 22:10 WIB</p>
                    <p style="color: #ddd">Semifinal (English)</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">Debat</p>
                        <p style="color: #ddd">Zoom</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe poster" onclick="uploadon('poster_vote_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">20:00 WIB</p>
                    <p style="color: #ddd">Voting Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">Poster</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 09, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmkc" onclick="uploadon('pkmkc_presentation')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">08:00 WIB - 17:00 WIB</p>
                    <p style="color: #ddd">Online Presentation</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM KC</p>
                        <p style="color: #ddd">Zoom</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe debat" onclick="uploadon('debat_fin_ind')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">18:30 WIB – 22:10 WIB</p>
                    <p style="color: #ddd">Final (Indonesia)</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">Debat</p>
                        <p style="color: #ddd">Zoom</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe debat" onclick="uploadon('debat_fin_ing')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">18:30 WIB – 22:10 WIB</p>
                    <p style="color: #ddd">Final (English)</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">Debat</p>
                        <p style="color: #ddd">Zoom</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 10, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmk" onclick="uploadon('pkmk_presentation')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">08:00 WIB - 17:00 WIB</p>
                    <p style="color: #ddd">Online Presentation</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM K</p>
                        <p style="color: #ddd">Zoom</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 11, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe essay" onclick="uploadon('esai_quest')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">08:30 WIB – 15:00 WIB</p>
                        <p style="color: #ddd">Question Section</p>
                        <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">Esai</p>
                            <p style="color: #ddd">M-Teams</p>
                        </div>
                    </div>
                </div>
        </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 12, 2021</h2>
        <div class="row">
                <div class="col compe_col">
                    <div class="compe quiz" onclick="uploadon('quiz_final')" style="min-height: 180px;">
                        <p class="bold" style="margin-bottom: 5px;color: #ddd">13:00 WIB – 18:00 WIB</p>
                        <p style="color: #ddd">Final</p>
                        <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">Quiz</p>
                            <p style="color: #ddd">M-Teams</p>
                        </div>
                    </div>
                </div>
        </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 14, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmai" onclick="uploadon('pkmai_proposal_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Proposal Grading Closed</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM AI</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmgfk" onclick="uploadon('pkmgfk_proposal_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Proposal Grading Closed</p>
                    <div class="bottom_text">
                            <p class="bold compe_title" style="color: #ddd">PKM GFK</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmgt" onclick="uploadon('pkmgt_proposal_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Proposal Grading Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM GT</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmk" onclick="uploadon('pkmk_proposal_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Proposal Grading Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM K</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmkc" onclick="uploadon('pkmkc_proposal_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Proposal Grading Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM KC</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_proposal_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Proposal Grading Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PI</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmpm" onclick="uploadon('pkmpm_proposal_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Proposal Grading Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM PM</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
            <div class="col compe_col">
                <div class="compe pkmr" onclick="uploadon('pkmr_proposal_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Proposal Grading Closed</p>
                    <div class="bottom_text">
                        <p class="bold compe_title" style="color: #ddd">PKM R</p>
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
</div>
<!-- Lmao just start putting my name everywhere -->
<div class="medium"></div>
{% include 'footer.html' %}

{% endblock %}