{% extends 'base.html' %}
<html lang="en">
{% load static %}


{% block title %}
PKM PI
{% endblock title %}

{% block content %}
{% include 'navbar.html' %}
{% include 'overlay_pkmpi.html' %}

<div class="container header_timeline pkmp">
    <div class="row">
        <div class="col-md onlymobile" style="height: 150px;"></div>
        <div class="col-md">
            <h1 style="color: #0e1738;">PKM PI</h1>
            <p style="color: #0e1738; text-align: justify;">
                PKM-PI (Penerapan IPTEK) merupakan program yang mempunyai tujuan utama mendorong 
                mahasiswa melihat segala macam bentuk kebutuhan atau permasalahan pada masyarakat 
                produktif di luar kampus untuk memikirkan dan memberikan solusi iptek bagi permasalahan 
                yang dihadapi masyarakat yang kemudian dijadikan mitra program tersebut. Kategori mitra 
                yang diberikan bantuan iptek untuk mengatasi permasalahan mereka adalah mulai dari pengusaha 
                berskala mikro atau kecil (toko, industri rumahan, pedagang kaki lima atau koperasi), 
                industri berskala menengah sampai industri berskala besar. Lingkup bantuan iptek yang 
                disepakati oleh mitra dapat berupa diversifikasi sumber bahan baku, peningkatan mutu produk, 
                perbaikan proses produksi (perbaikan atau penggunaan alat atau mesin baru), perbaikan sanitasi, 
                diversifikasi dari produk atau luaran, upaya peningkatan kapasitas produksi, penanganan dan 
                pengolahan limbah, sistem jaminan mutu (ISO), kemasan, dan lain-lain.
            </p>
        </div>
        <div class="col-md"></div>
    </div>
    <hr style="margin-top: 60px;">
</div>

<div class="container">
    <div class="small"></div>
    <div class="row justify-content-center">
        <a href="{% url 'homepage:timeline' 'all' %}" class="mybutton aqua">View All Timelines</a>
    </div>	
    <div class="small"></div>
    <h2 style="color: #0e1738;">Sep. 26, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_sub_open_1')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Submission Open</p>
                    <div class="bottom_text">
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <!-- <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 04, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_video_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Video Upload Open</p>
                    <div class="bottom_text">
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 14, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_sub_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Submission Closed</p>
                    <div class="bottom_text">
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 18, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_proposal_open')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">00:00 WIB</p>
                    <p style="color: #ddd">Proposal Grading Open</p>
                    <div class="bottom_text">
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Oct. 24, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_video_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Video Upload Closed</p>
                    <div class="bottom_text">
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 05, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_presentation')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">08:00 WIB - 17:00 WIB</p>
                    <p style="color: #ddd">Online Presentation</p>
                    <div class="bottom_text">
                        <<p style="color: #ddd">Youtube</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div>
    <h2 style="color: #0e1738;">Nov. 14, 2021</h2>
    <div class="row">
            <div class="col compe_col">
                <div class="compe pkmpi" onclick="uploadon('pkmpi_proposal_close')" style="min-height: 180px;">
                    <p class="bold" style="margin-bottom: 5px;color: #ddd">23:59 WIB</p>
                    <p style="color: #ddd">Proposal Grading Close</p>
                    <div class="bottom_text">
                        <p style="color: #ddd">Website</p>
                    </div>
                </div>
            </div>
    </div>
    <div style="height: 15px;"></div> -->
</div>
<!-- Lmao just start putting my name everywhere -->
<div class="medium"></div>
{% include 'footer.html' %}

{% endblock %}